#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        cb-bks {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        cb-del {
            bindings = <&kp DEL>;
            key-positions = <18 19>;
        };

        cbcp {
            bindings = <&kp LC(C)>;
            key-positions = <14 13>;
        };

        cbct {
            bindings = <&kp LC(X)>;
            key-positions = <12 13>;
        };

        cbpst {
            bindings = <&kp LC(V)>;
            key-positions = <12 13 14>;
        };
    };

    behaviors {
        myholdtap1: myholdtap1 {
            compatible = "zmk,behavior-hold-tap";
            label = "MYHOLDTAP1";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        myTBMHZH: myTBMHZH {
            compatible = "zmk,behavior-tap-dance";
            label = "MYTBMHZH";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5>, <&kp GRAVE>;
        };
    };

    macros {
        mc_os_ka: mc_os_ka {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp A>;
            label = "MC_OS_KA";
        };

        mc_os_ki: mc_os_ki {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp I>;
            label = "MC_OS_KI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q      &kp W      &kp E  &kp R                     &kp T             &none  &kp Y      &kp U                      &kp I      &kp O       &kp P
&kp A      &kp S      &kp D  &myholdtap1 LEFT_SHIFT F  &kp G             &none  &kp H      &myholdtap1 RIGHT_SHIFT J  &kp K      &kp L       &kp SPACE
&kp Z      &kp X      &kp C  &kp V                     &kp B             &none  &kp N      &kp M                      &kp COMMA  &kp PERIOD  &kp MINUS
&lt 3 TAB  &kt LG(L)  &to 4  &lt 2 B                   &kp LEFT_CONTROL         &kp LSHFT  &lt 1 N                    &mo 3      &mc_os_ka   &mt LEFT_ALT ENTER
            >;
        };

        layer_1 {
            bindings = <
&kp ESCAPE  &kp LA(LEFT)  &kp LA(RIGHT_ARROW)  &kp F4                          &kp F5     &none  &kp LC(PAGE_UP)      &kp LC(PAGE_DOWN)  &kp LC(HOME)  &kp LC(END)  &none
&kp LC(A)   &kp LC(S)     &kp K_APPLICATION    &myholdtap1 LEFT_SHIFT LA(TAB)  &none      &none  &kp LEFT             &kp DOWN           &kp UP        &kp RIGHT    &none
&kp LC(Z)   &kp LC(X)     &kp LC(C)            &kp LC(V)                       &none      &none  &none                &kp TAB            &kp HOME      &kp END      &kp ENTER
&kp TAB     &none         &none                &kp F2                          &myTBMHZH         &kp INTERNATIONAL_4  &none              &none         &none        &mt RIGHT_ALT ENTER
            >;
        };

        layer_2 {
            bindings = <
&kp LC(NUMBER_1)      &kp LS(RIGHT_BRACKET)  &kp RS(PIPE)      &kp EQUAL                            &kp LS(INT_YEN)   &none  &kp LS(SEMICOLON)  &kp NUMBER_7  &kp NUMBER_8   &kp NUMBER_9  &kp LS(SINGLE_QUOTE)
&kp LS(SINGLE_QUOTE)  &kp LS(NUMBER_8)       &kp LS(NUMBER_9)  &myholdtap1 LEFT_SHIFT SINGLE_QUOTE  &kp LEFT_BRACKET  &none  &kp MINUS          &kp NUMBER_4  &kp NUMBER_5   &kp NUMBER_6  &kp SLASH
&kp SLASH             &kp RIGHT_BRACKET      &kp PIPE          &kp LS(INTERNATIONAL_1)              &none             &none  &none              &kp NUMBER_1  &kp NUMBER_2   &kp NUMBER_3  &kp ENTER
&kp TAB               &none                  &none             &none                                &none                    &kp PERIOD         &kp NUMBER_0  &kp LS(MINUS)  &none         &mt RIGHT_ALT ENTER
            >;
        };

        layer_3 {
            bindings = <
&kp NUMBER_3  &none  &none  &none  &none  &kp NUMBER_3  &none  &none  &none  &none  &none
&none         &none  &none  &none  &none  &none         &none  &none  &none  &none  &none
&none         &none  &none  &none  &none  &none         &none  &none  &none  &none  &none
&kp TAB       &none  &none  &none  &none                &none  &none  &none  &none  &mt RIGHT_ALT ENTER
            >;
        };

        layer_4 {
            bindings = <
&kp PERIOD  &mc_os_ka  &trans  &trans  &trans  &kp NUMBER_4  &trans  &trans     &trans  &trans  &trans
&kp U       &trans     &none   &none   &trans  &trans        &none   &mc_os_ki  &none   &kp I   &trans
&trans      &trans     &trans  &trans  &trans  &trans        &trans  &trans     &trans  &trans  &trans
&trans      &trans     &to 0   &trans  &trans                &trans  &trans     &trans  &trans  &trans
            >;
        };
    };
};
